* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 64.5%;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('./fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
}

.App {
  height: 100%;
  /* display: grid; */
}

.Name-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4.5vw;
  color: #009FE3;
  text-transform: uppercase;
  font-family: Merriweather-Bold, Helvetica, sans-serif;
}

.Name-section {
  background:
    radial-gradient(circle at center,
      rgba(165, 186, 209, 1), rgba(255, 0, 0, 0) 40%),
    radial-gradient(circle at 25% 90%,
      rgba(252, 205, 180, 1), rgba(0, 255, 0, 0) 25%),
    radial-gradient(circle at 70% 25%,
      rgba(236, 209, 205, 1), rgba(0, 255, 0, 0) 35%),
    #DADCD7;
}

.Name-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background:
    url(./cloud_oben.png),
    url(./cloud_unten.png);
  background-repeat: repeat-x;
  background-position:
    0px 0px, 800px bottom;
  background-size: 100%, 80%;
  animation-name: Animation1, Animation2;
  animation-iteration-count: 1, infinite;
  animation-duration: 60s, 60s;
  animation-timing-function: ease-out, ease-in-out;
  animation-direction: alternate, alternate;
  /* animation: AnimateBG 60s ease-in-out infinite alternate; */
}

@keyframes Animation1 {
  100% {
    background-position: -1200px 0px, 500px bottom;
  }
}

@keyframes Animation2 {
  100% {
    background-position: -1200px 0px, 500px bottom;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Name-content {
    animation: none;
  }
}


.form {
  display: flex;
  margin-bottom: 17px;
  font-size: 1.5vmax;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px;
}